.app_description{
    text-align: center;
    color: #351f39;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#landing-img {
    max-width: 60%;
    padding: 5px;
    margin: auto;
    display: block;
    border: 5px ridge white;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 30px;
    background: var(--color-light-accent)

  }

  .landing_page{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: var(--color-background1);
  }

@media screen and (min-width: 680px) {
    .app_description{
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}
