.tile {
  min-width: 100px;
  max-width: 300px;
  outline: 8px outset gray;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin: 10px;
  height:fit-content;
}

.tile:active{
  background-color: green;
}

.innertilesavings p{
  text-align: right;
}

.innertiledebt p, .innertilebills p{
  text-align: left;
}

.innertiledebt, .innertilesavings, .innertilebills, .innertileexpenses{
  width:fit-content;
  margin-bottom: 20px;
}

.innertiledebt p, .innertilesavings p, .innertilebills p, .innertileexpenses p{
  padding-bottom: 5px;
  margin: 0;
}

@media screen and (min-width: 660px) {
  .tile {
    height:90%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1620px) {
  .tile {
    margin-right: 20px;
  }
}