.tile {
  width: 300px;
  /* min-height: 200px; */
  outline: 8px outset gray;
  /* margin-right: 5%;
  margin-top: 5%; */
  display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 10px;
    

}

.innertilesavings p{
  text-align: right;
}

.innertiledebt, .innertilesavings, .innertilebills, .innertileexpenses{
  width:fit-content;
  margin-bottom: 20px;
}

.innertiledebt p, .innertilesavings p, .innertilebills p, .innertileexpenses p{
  padding-bottom: 5px;
  margin: 0;
}