.RegistrationPage {
    width:70%;
    margin: auto;
    color:black;
    padding-left: 5px;
    padding-right: 10px;
  }
  

  @media screen and (min-width: 680px) {
    .LoginPage {
      width: 450px;
    }
    
  }