body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Slabo 13px", serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Stint Ultra Expanded", serif;
}
